/* body, 타이포그래피 등의 기본 스타일 설정 */
@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");
@import url("//cdn.jsdelivr.net/gh/velopert/font-d2coding@1.2.1/d2coding.css");

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// box-sizing 일괄 설정
* {
  box-sizing: inherit;
}

// 링크 스타일 밑줄 및 색상 무효화
a {
  text-decoration: inherit;
  color: inherit;
}

/*
이 프로젝트에서는 두가지 폰트를 사용합니다. 
포스트 제목, 내용 등의 부분에서 주로 사용 할 폰트 Noto Sans KR 과, 
나중에 마크다운 에디터를 만들 때 코드 작 성 부분에서 사용 할 D2 Coding 입니다.

그리고, 사이즈 설정을 용이하게 하기 위하여 box-sizing 값을 border-box 로 설정하였으며, 
링크의 경우 자동으로 생성되는 밑줄과 파란색 색상을 비활성화 하였습니다.

스타일을 다 작성하셨으면 src/index.js 파일에서 이 스타일을 불러와서 적용하세요.
*/